@import url("https://image.raku-uru.jp/cms/fontcss/font.css");

/* 注文画面・マイページの商品写真調整 */
.cart-item-list table th.cart-item-list-photo {
	text-align: center;
}

.cart-item-list table th.cart-item-list-photo img {
	width: auto;
	height: auto;
	max-width: 140px;
	max-height: 140px;
}

@media only screen and (max-width: 600px) {
	.cart-item-list table th.cart-item-list-photo {
		text-align: center;
	}
	.cart-item-list table th.cart-item-list-photo img {
	width: auto;
	height: auto;
	max-width: 70px;
	max-height: inherit;
	}
}

/* btn非活性 */

.btn.disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled * {
	opacity: inherit;
}

/* 注文履歴 */

.cart-mypage-history-list table {
	margin-bottom: 30px;
}

.cart-mypage-history-list th {
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	width: 194px;
	padding: 12px 12px 12px 0;
	text-align: left;
	vertical-align: top;
}

.cart-mypage-history-list td {
	text-align: left;
}

.cart-mypage-history-search-date div {
	display: inline-block;
	width: 160px;
	margin-right: 5px;
	vertical-align: middle;
}

.cart-mypage-history-search-date div input[type=text] {
	display: inline-block;
	width:calc(100% - 32px);
	height: 32px;
	padding-right: 5px;
	vertical-align: middle;
}

.cart-mypage-history-search-date div button {
	vertical-align: middle;
	height: 32px;
	padding: 0 3px;
}

.cart-mypage-history-search-date div.cart-mypage-history-search-date-separator {
	width: 15px;
}

.cart-mypage-history-search-item td input[type=text] {
	width: calc( 100% - 81px );
}

.cart-mypage-history-search-btn {
	display: inline-block;
}

.cart-mypage-history-search-btn .btn{
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	position: relative;
	display: inline-block;
	width: 76px;
	height: 36px;
	text-align: center;
	text-decoration: none;
}

.cart-mypage-history-reorder-msg {
	text-align: right;
	margin-top: 20px;
}

@media only screen and (max-width: 860px) {
	.cart-mypage-history-search-date div {
		margin-top: 5px;
	}
}

@media only screen and (max-width: 600px) {
	#MYP0008D01 .cart-mypage-history-list {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.cart-mypage-history-list table {
		margin-bottom: 24px;
	}
	.cart-mypage-history-list th {
		width: 100px;
	}
}

/* 注文明細 商品リスト */

.cart-item-list .cart-item-list-check {
	vertical-align: middle;
}

.cart-item-list-photo img {
	vertical-align: middle;
}

.cart-2col-right-btn .btn.btn-reorder {
	width: auto;
	padding: 0 40px 0 50px;
	float: right;
}

.cart-item-list .cart-mypage-history-order-detail li {
	display: table;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	border-collapse: collapse;
	text-align: right;
}

.cart-item-list .cart-mypage-history-order-detail li span {
	display: table-cell;
	padding: 5px;
	word-break: break-all;
}

.cart-comp-carriar-txt {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 25px;
}

.cart-comp-carriar-err-txt {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 25px;
}

.cart-comp-id-txt {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 25px;
}

.cart-comp-id-err-txt {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
	.cart-mypage-history table {
		clear: both;
	}
	#MYP0008D02 .cart-item-list table {
		display: table;
		margin-top: 20px;
	}
	#MYP0008D02 .cart-item-list tbody {
		display: table;
	}
	#MYP0008D02 .cart-item-list tr {
		display: table-row;
	}
	#MYP0008D02 .cart-item-list table th {
		width: 80px;
		padding: 12px 0;
		vertical-align: middle;
		border-bottom: dotted 1px #d0d0d0;
	}
	#MYP0008D02 .cart-item-list table tr:last-child th {
		border-bottom: none;
	}
	#MYP0008D02 .cart-item-list table td {
		width: auto;
	}
	#MYP0008D02 .cart-item-list td.cart-item-list-check {
		width: auto
	}
	#MYP0008D02 .cart-item-list-photo label {
		display: inline-block;
	}
	#MYP0008D02 .cart-item-list .cart-mypage-history-order-detail {
		width: 100%;
		padding: 0;
	}
}

/* 注文履歴へ戻るボタン */

.cart-action-btn-back + .cart-action-btn-back {
	margin-top: 5px;
}


/* datepicker
----------------------------------*/

.ui-datepicker {
	z-index:999 !important;
	display: none;
	padding: 10px;
	border: #d0d0d0 solid 1px;
	border-radius: 6px;
	background:#fff;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2);
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	border: none;
	border-bottom: #d0d0d0 solid 1px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -11px;
	border-radius: 50%;
	color:#fff;
	background-color:#666;
}

.ui-datepicker .ui-datepicker-prev-hover {
	background-image: url(https://cart.raku-uru.jp/resources/img/icn-date-prev-ov.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8px;
}
.ui-datepicker .ui-datepicker-next-hover {
	background-image: url(https://cart.raku-uru.jp/resources/img/icn-date-next-ov.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
	background-image: url(https://cart.raku-uru.jp/resources/img/icn-date-prev.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8px;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
	background-image: url(https://cart.raku-uru.jp/resources/img/icn-date-next.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 8px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: none;
}

.ui-datepicker .ui-datepicker-title {
	line-height: 1.8em;
	margin: 0 2.3em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}

.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
}

.ui-datepicker th {
	font-weight: normal;
	padding: 2px 0;
	text-align: center;
	border: 0;
}

.ui-datepicker th:first-child {
	color: #ff4a37;
}

.ui-datepicker th:last-child {
	color: #0079bf;
}

.ui-datepicker td {
	padding: 3px;
	border: 0;
}

.ui-datepicker td span,
.ui-datepicker td a {
	font-size: 14px;
	display: block;
	width: 32px;
	padding: .2em 0;
	text-align: center;
	text-decoration: none;
	border: #d0d0d0 solid 1px;
	border-radius: 4px;
	background-color: #d0d0d0;
}

.ui-datepicker td a:hover {
	color: #333;
	border-color: #d0d0d0;
	background-color: #fff;
}

.ui-datepicker td .ui-state-active {
	color: #fff;
	border-color: #000;
	background-color: #000;
}

.ui-datepicker .ui-datepicker-buttonpane {
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	background-image: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	overflow: visible;
	width: auto;
	margin: .5em .2em .4em;
	padding: .2em .6em .3em .6em;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */

.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	font-size: 0;
	clear: both;
	width: 100%;
}

/* RTL support */

.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	right: auto;
	left: 2px;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	right: auto;
	left: 1px;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.hide {
	display: none !important;
}

/* 会員登録：確認メール送信、登録完了 */
.fas {
  margin-right: 10px;
}
h4.attention {
	font-size: 22px;
	background: #eee;
	padding: 18px 0;
}
.cart-1col-inner {
	padding-top: 0;
}
p.lead-text {
	margin-bottom: 10px;
	font-size: 16px;
}


.cart-item-list-cnt input[type=button],
.cart-item-list-del input[type=button] {
	cursor: pointer;
}

.cart-item-list-cnt input[type=button]:hover,
.cart-item-list-del input[type=button]:hover {
	opacity: 0.7;
}

.cart-action-sum th .cart-action-sum-multiple {
	font-size: 11px;
	line-height: 16px;
	display: inline-block;
	padding: 3px 4px 2px;
	text-align: center;
	color: #666;
	background-color: #f3f3f3;
}

.cart-action-sum th .cart-action-memrank {
	font-size: 11px;
	line-height: 16px;
	display: inline-block;
	padding: 3px 4px 2px;
	text-align: left;
}

.cart-action-sum td span {
	word-break: normal;
	white-space: nowrap;
}

.cart-multiple-count {
	font-size: 18px;
	margin-bottom: 10px;
	padding: 3px 7px 2px;
	color: #666;
	background-color: #f3f3f3;
}

.cart-multiple-no {
	font-weight: bold;
	float: right;
}

.cart-action-total th {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}

.cart-action-total th .cart-action-sum-multiple {
	font-size: 11px;
	line-height: 16px;
	display: inline-block;
	padding: 3px 7px 2px;
	text-align: center;
	color: #666;
	background-color: #f3f3f3;
}

.cart-action-total td {
	font-size: 24px;
	font-weight: bold;
	text-align: right;
}

.cart-action-total td span {
	word-break: normal;
	white-space: nowrap;
}

.cart-action-total-ship {
	font-size: 12px;
}

.cart-action-link {
	margin-top: 18px;
	text-align: center;
}

.cart-action-link a {
	text-decoration: underline;
}

.cart-item-list-cnt input[type="text"] {
	font-size: 16px;
	width: 60px;
	height: 30px;
	padding: 0 4px;
	text-align: right;
	vertical-align: top;
	border-radius: 1px;
}

.cart-input-pay .cart-input-pay-point input[type="text"] {
	width: 80px;
	margin-right: 5px;
}

#CBY0003D02 .cart-action-breakdown th,
#CBY0003D02 .cart-action-breakdown td {
	font-size: 13px;
	font-weight: normal;
}

.cart-action-subtotal th,
.cart-action-subtotal td {
	border-top: 1px solid #d0d0d0;

}
.cart-action-sum .cart-action-sum-ship-multiple:first-child th,
.cart-action-sum .cart-action-sum-ship-multiple:first-child td {
	padding-top: 12px;
}

.cart-action-point {
	padding: 12px 0;
	border-top: #d0d0d0 solid 1px;
	text-align: left;
}

.cart-check-ship > div {
	padding-top: 20px;
	border-top:1px solid #d5d5d5;
}

.cart-check-ship > div:first-of-type {
	padding-top: 0;
	border-top: 0;
}

tr.cart-input-ship-posi > th,
tr.cart-input-ship-posi > td {
	font-weight: bold;
}

.cart-action-sum .cart-action-sum-cool-multiple th,
.cart-action-sum .cart-action-sum-ship-multiple th {
	font-size: 13px;
}

.cart-input-ship-addr td > div:first-child,
.cart-input-ship-cvs td > div:first-child {
	font-size: 16px;
}

@media only screen and (max-width: 600px) {
	.cart-check-ship > div {
		padding-top: 0;
		padding-bottom: 20px;
	}
	#CBY0003D02 .cart-input-pay-cardbtn input, .cart-input-pay-cardbtn a {
		opacity: .85;
		border-radius: 4px;
		border-bottom: 5px solid #000;
	}
}

.cart-input-pay-next {
	font-size: 20px;
}

.cart-input-pay-seccode {
    font-size: 70%;
    font-variant-east-asian: proportional-width;
    padding-left: 10px;
}


#MYP0009D03 .cart-2col-right-btn .btn span:before {
	background: none;
}

.btn-removeship,
.btn-addship,
.btn-edit {
	line-height: 1;
	display: inline-block;
}

.btn-removeship {
	margin-left: 8px;
}

.btn-removeship span,
.btn-addship span,
.btn-edit span {
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
	padding: 10px 18px;
}

.btn-removeship:hover,
.btn-addship:hover,
.btn-edit:hover {
	color: #fff;
}

.cart-input-ship > div {
	padding:30px 0;
	border-top: 1px solid #d0d0d0;
}

.cart-input-ship > div:first-of-type {
	border-top: none;
	padding-top: 0;
}

.cart-input-ship > div:last-of-type {
	border-top: none;
	padding: 0;
}

.cart-input-ship-posi td {
	padding-top: 18px;
}

.cart-mypage-address {
	float: none;
	padding: 0;
	text-align: center;
}

.cart-mypage-address-list h4 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 28px;
	padding-bottom: 18px;
	border-bottom: #d0d0d0 solid 1px;
}

.cart-mypage-address-list {
	float: left;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: #d0d0d0 solid 1px;
}

.cart-mypage-address-list table {
	width: 100%;
	margin-bottom: 15px;
}

.cart-mypage-address-list th {
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	width: 194px;
	padding: 12px 12px 12px 0;
	text-align: left;
	vertical-align: top;
}

.cart-mypage-address-list td {
	font-size: 16px;
	font-weight: normal;
	padding: 12px 0;
	text-align: left;
	vertical-align: top;
}

.cart-mypage-address-list input[type=text] {
	line-height: 36px;
	width: 100%;
	height: 36px;
	padding: 0 10px;
	border: #d0d0d0 solid 1px;
	background-color: #f5f5f5;
}

.cart-mypage-address-search-btn {
	display: inline-block;
}

.cart-mypage-address-search-btn .btn {
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	position: relative;
	display: inline-block;
	width: 76px;
	height: 36px;
	text-align: center;
	text-decoration: none;
	color:#fff;
	background-color:#666;
}
/* マイページアドレス帳 */

.cart-mypage-address-list li {
	display: table;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	border-collapse: collapse;
	border-bottom: 1px solid #d9d9d9;
}

.cart-mypage-address-list a {
	display: table-row;
	vertical-align: middle;
	text-decoration: none;
}

.cart-mypage-address-list li span {
	display: table-cell;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	word-break: break-all;
}

.cart-mypage-address-list li:first-child span {
	text-align: center;
	color: #999;
}

.cart-mypage-address-list li span:first-child {
	width: 33%;
	min-width: 200px;
}

.cart-mypage-address-list li span:nth-child(2) {
}

.cart-mypage-address-list li span:last-child {
	width: 15%;
	min-width: 100px;
	text-align: center;
}


@media only screen and (max-width: 600px) {
	.cart-mypage-address {
		width: 100%;
		margin-bottom: 20px;
		padding-top: 12px;
		padding-right: 10px;
		padding-left: 10px;
		border-top: none;
	}
	.cart-mypage-address-list h4 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 24px;
		padding-bottom: 14px;
		text-align: left;
	}
	.cart-mypage-address-list h4:before {
		font-size: 14px;
		padding-right: 8px;
		content: "■";
		color: #d2d2d2;
	}
	.cart-mypage-address-list {
		width: 100%;
		margin-bottom: 20px;
		padding-top: 12px;
		padding-right: 10px;
		padding-left: 10px;
		border-top: none;
	}
	/* マイページ アドレス帳 */
	.cart-mypage-address-list li {
		position: relative;
		margin-top: 5px;
		padding: 5px;
		border: none;
	}
	.cart-mypage-address-list li:first-child {
		display: none;
	}
	.cart-mypage-address-list li a {
		position: relative;
		display: block;
		width: 100%;
		margin: auto;
		padding: 6px 24px 6px 12px;
		text-align: left;
		text-decoration: none;
		border: 1px solid #efefef;
		border-radius: 5px;
		background-color: #f3f3f3;
	}
	.cart-mypage-address-list li a:after {
		position: absolute;
		top: 50%;
		right: 6px;
		display: inline-block;
		width: 9px;
		height: 18px;
		margin-top: -9px;
		content: '';
		background-image: url(https://cart.raku-uru.jp/resources/img/icn-arrow-nav.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.cart-mypage-address-list li span {
		display: block;
		padding: 2px 0;
	}
	.cart-mypage-address-list li span:first-child,
	.cart-mypage-address-list li span:nth-child(2),
	.cart-mypage-address-list li span:nth-child(3) {
		width: auto;
		min-width: auto;
		text-align: left;
	}
	.cart-mypage-address-list li span:first-child:before {
		content: '氏名：';
	}
	.cart-mypage-address-list li span:nth-child(2):before {
		content: '配送先住所：';
	}
	.cart-mypage-address-list li span:nth-child(3):before {
		content: '電話番号：';
	}
	#MYP0009D02 .cart-2col-right-btn a:last-child {
		margin-top: 10px;
	}
}


.cart-input-user .cart-input-member-id th,
.cart-input-user .cart-input-member-pw th {
	padding-top: 24px;
}

.cart-input-member-id .cart-input-regulation,
.cart-input-member-pw .cart-input-regulation {
	font-size: 12px;
	display: block;
	color: #b0b0b0;
}

@media only screen and (max-width: 600px) {
	.cart-input-user .cart-input-member-id th,
	.cart-input-user .cart-input-member-pw th {
		padding-top: 0;
	}
}


.cart-cvs-inner .locker-date {
	margin: 18px 0 0;
	padding: 0;
	width: auto;
}

.cart-cvs-inner .locker-date .form-select label {
	min-width: 140px;
	height: 28px;
}

.cart-cvs-inner .locker-date .form-select select {
	height: 28px;
	line-height: 28px;
}

.cart-cvs-inner .locker-date-to {
	padding: 0;
	width: auto;
}

#CSL0001D01 .cart-cvs-inner .locker-date-msg {
	display: block;
	width: auto;
	padding: 8px 0 0 0;
	font-size: 12px;
}

#CSL0001D01 .cart-cvs-inner .locker-date-to {
	height: 40px;
	padding-top: 8px;
}

#CSL0001D01 .cart-cvs-inner .locker-date {
	margin: 0;
}

#CSL0001D01 .cart-cvs-inner .locker-date div {
	display: inline-block;
	width: auto;
	max-width: 500px;
	padding:0;
	vertical-align: top;
}

@media only screen and (max-width: 1109px) {
	.cart-cvs-inner .locker-date label {
		display: block;
		width: 140px;
	}
	#CSL0001D01 #wrapper,
	#CSL0001D01 .wrapper,
	#CSL0001D01 .header-top ul {
		width: 100%;
		min-width: 100%;
	}
	#CSL0001D01 .contents {
		width: 100%;
	}
	#CSL0001D01 .cart-1col {
		width: 740px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0;
	}
	#CSL0001D01 .cart-cvs-inner .locker-date label {
		display: inline-block;
		width: 140px;
	}
}

@media only screen and (max-width: 739px) {
	#CSL0001D01 .cart-1col {
		width: auto;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0;
	}
}

@media only screen and (max-width: 600px) {
	#CSL0001D01 .cart-cvs-inner .locker-date .form-select label {
		min-width: 180px;
	}
	#CSL0001D01 .cart-cvs-inner .locker-date .form-select label:after {
		right: 10px;
	}
}


.point {
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	color: #777;
}
.point-amount {
	font-size: 16px;
	text-align: right;
}
.point-detail {
	padding: 4px;
	border: solid 1px #777;
	border-radius: 6px;
	margin-right: 6px;
}

.cart-reservation {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 9px 0;
	color: #fff;
	background-color: #333;
	text-align: center;
}

.cart-reservation-msg {
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	padding-left: 1em;
}

.cart-reservation h5 {
	font-size: 24px;
	font-weight: normal;
}

.cart-reservation + div.cart-item-list {
	padding-top: 18px;
	border-top: none;
}

.cart-input-pay .cart-input-pay-coupon {
	line-height: 36px;
}

.cart-input-pay .cart-input-pay-coupon input[type=text] {
	width: 198px;
	margin-right: 5px;
}

.cart-input-pay-coupon-msg {
	line-height: 28px;
}

.cart-input-pay-coupon-content {
	font-weight: bold;
	display: inline;
}

.cart-check-pay .cart-input-pay-coupon-content {
	font-weight: normal;
}

/*クーポン箇所ボタン*/
.cart-input-pay-coupon a {
	font-size: 16px;
	display: inline-block;
	padding: 0 12px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 1px;
	background: #fcfcfc;
}

.cart-input-pay-card-info dl {
	display: none;
}


.cart-input-ship > div.cart-input-ship-add {
	position: relative;
	display: inline-flex;
	width: 100%;
	padding: 10px;
	padding-right: 15px;
	padding-bottom: 12px;
	padding-left: 90px;
	border-radius: 5px;
	background: #f5f5f5;
	justify-content: space-between;
	align-items: center;
}

.cart-input-ship > div.cart-input-ship-add::before {
	position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    border-radius: 50%;
    background: #d9d9d9 url(https://cart.raku-uru.jp/resources/img/icon-multi-delivery-bk.svg) 7px 7px no-repeat;
    /* 白線アイコンはicon-multi-delivery-white.svg */
    background-size: 46px 46px;
}

div.cart-input-ship-add > span {
	vertical-align: bottom;
}

div.cart-input-ship-add > span:last-child {
	text-align: center;
	flex-grow: 2;
}

div.cart-input-ship-add span > span {
	line-height: 22px;
	display: block;
	text-align: left;
}

div.cart-input-ship-add > span > a {
	width: 100%;
	max-width: 204px;
}

span.cart-input-add-title {
	font-weight: bold;
}

span.cart-input-add-notice {
	font-size: 10px;
}

@media only screen and (max-width: 960px) {
	.cart-input-ship > div.cart-input-ship-add {
		display: inline-block;
	}
	div.cart-input-ship-add > span {
		display: block;
	}
	div.cart-input-ship-add > span > a {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.cart-input-ship > div.cart-input-ship-add {
		padding-left: 10px;
	}
	.cart-input-ship > div.cart-input-ship-add::before {
		display: none;
	}
}

.cart-1col-inner .cart-mlm-remove table {
	width: 80%;
	margin: 30px auto;
}

@media only screen and (max-width: 600px) {
	.cart-1col-inner .cart-mlm-remove table {
		display: block;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 0;
	}
}

.cart-item-list .cart-mypage-history-order-detail li.cart-mypage-history-order-detail-fee {
	margin-top: 0;
	font-size: 11px;
	padding-left: 205px;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.cart-item-list .cart-mypage-history-order-detail li.cart-mypage-history-order-detail-fee {
		padding-left: 0;
	}
}


.cart-item-list-quantity:before {
	margin-right: 4px;
}

body .gnav:nth-child(2) {
	display: none;
}
@media only screen and (max-width: 600px) {
	body .gnav:nth-child(2) {
		display: block;
	}
	.cart-1col-inner h4.attention {
		font-weight: normal;
		text-align: center;
	}
	.cart-1col-inner h4.attention::before {
		content: "";
		padding: 0;
	}
}


.cart-1col-inner.km-msg {
	border: none;
	margin: 0 auto 30px;
	padding-top: 0;
}

.cart-1col-inner.km-msg > div {
	font-size: 13px;
	max-width: 520px;
	margin: auto;
	padding: 20px 20px 0;
	background: #efefef;
}

.cart-1col-inner.km-msg > div:last-child {
	padding-bottom: 20px;
}

.banner-km {
	width: auto;
	height: auto;
}

.banner-km img {
	display: block;
	max-width: 100%;
}

.km-msg label {
	font-weight: bold;
}

.km-msg .form-checkbox input[type=checkbox] {
	width: 13px;
	height: 13px;
}

.btn.btn-km {
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 15px 15px 15px 50px;
	font-size: 16px;
}

.btn.btn-km:hover {
	color: #fff;
}

.btn.btn-km::before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 15px;
	content: "\e939";
	font-family: "icomoon";
}

.cart-1col-inner.m-msg {
	border: none;
	margin: 0 auto 30px;
	padding-top: 0;
}

.cart-1col-inner.m-msg > div {
	font-size: 13px;
	max-width: 520px;
	margin: auto;
	padding: 20px 20px 0;
	background: #efefef;
}

.cart-1col-inner.m-msg > div:last-child {
	padding-bottom: 20px;
}

#CBY0003D03 .cart-1col-inner::after {
	content: " ";
	clear: both;
	display: table;
}
#CBY0003D03 .btn-back {
	margin-right: 0;
}

@media only screen and (max-width: 600px) {
	.cart-1col-inner.km-msg {
		margin-bottom: 0;
	}
	.cart-1col-btn .banner-km img {
		width: calc(100% - 16px);
	}
	.cart-1col-inner.km-msg > div {
		padding: 10px 10px 0;
	}
	.cart-1col-inner.km-msg .btn.btn-km {
		white-space: nowrap;
	}

	.cart-1col-inner.km-msg > div:last-child {
		padding-bottom: 10px;
	}
}

.cart-kmember-suc-msg,
.cart-kmember-err-link {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.cart-products-box {
	padding: 10px 20px;
	background: #F0F9FF;
	width: 100%;
	font-size: 14px;
}
.ttl-product-info {
	font-size: 16px;
	color: #000;
	line-height: 40px;
	text-align: left;
}
.ship-number {
	color: #000;
}
.btn-edit {
	float: right;
}
.btn-edit span::before {
	content: "\e918";
	font-family: "icomoon";
	font-size: 16px;
	line-height: 1;
	margin-right: 10px;
}
.txt-total {
	font-weight: bold;
	font-size: 20px;
}
.product-row, .product-number-row {
	clear: both;
	border-bottom: dotted 2px #C1C1C1;
	padding: 10px 0;
}
.cart-products-box .product-row:last-child, .cart-item-list .product-number-row:last-child {
	border-bottom: none;
}
.cart-product-img {
	float: left;
	width: 54px;
	text-align: center;
}
.cart-product-img img {
	max-width: 54px;
	max-height: 54px;
}
.cart-product-txt {
	float: left;
	width: calc(100% - 74px);
	margin-left: 20px;
	text-align: left;
}
.cart-product-txt ul {
	position: relative;

}
.cart-product-txt ul li {
	float: left;
	display: inline-block;
	width: calc(100% - 130px);
}
.cart-product-txt ul li.cart-item-list-quantity {
	position: absolute;
	width: 130px;
	text-align: right;
}
.product-number-row th.cart-item-list-photo,
.product-number-row td.cart-item-list-info {
	border-bottom: 0;
}
.product-number-row .cart-item-list-info {
}
.product-number-row .cart-item-list-info ul {
	position: relative;
}
.product-number-row .cart-item-list-info ul li {
	float: left;
	display: inline-block;
	width: calc(100% - 130px);
}
.product-number-row .cart-item-list-info ul li.cart-item-list-btn {
	position: absolute;
	width: 130px;
	text-align: right;
}.cart-item-list-btn div {
	white-space: nowrap;
	display: inline-block;
}
.cart-item-list-btn .cart-item-list-cnt .form-select label {
	margin-right: 0;
}
.cart-item-list-btn .cart-item-list-del {
	margin-top: 5px;
}

.ordered-item {
	margin: 20px 0;
}

#MYP0008D02 .cart-input-ship-posi th,
.cart-input-ship-addr th {
	vertical-align: top;
}
.shipping-number {
	font-weight: bold;
	padding: 0.25em 0.5em;
	background: transparent;
	border-left: solid 5px #666;
}
.shipping-number-zip {
	margin-top: 1em;
}
.link-cancel {
	text-align: center;
	margin-top: 30px;
}
.checkbox-input {
	display: none;
}
.checkbox-parts {
	position:relative;
	margin-right: 20px;
}
.checkbox-parts::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	border-radius: 4px;
}
.checkbox-input:checked + .checkbox-parts {
	color: #009a9a;
}
.checkbox-input:checked + .checkbox-parts::after {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 5px;
	width: 7px;
	height: 14px;
	transform: rotate(40deg);
	border-bottom: 3px solid #009a9a;
	border-right: 3px solid #009a9a;
}
div.cart-item-list td.reorder-checkbox {
	vertical-align: middle;
}

@media only screen and (max-width: 600px) {
	.cart-products-box {
	  padding: 10px;
	}
	.btn-edit {
		margin-bottom: 10px;
	}
	.cart-product-txt {
		width: calc(100% - 64px);
		margin-left: 10px;
	}
	.cart-product-txt ul li,
	.cart-product-txt ul li.cart-item-list-quantity {
		position: relative;
		width: 100%;
		text-align: left;
	}
	.product-number-row .cart-item-list-info ul li,
	.product-number-row .cart-item-list-info ul li.cart-item-list-btn {
		position: relative;
		width: 100%;
	}
	.product-number-row {
		padding: 20px 0;
	}
	.cart-item-list table .product-number-row td {
		padding-left: 10px;
	}
	.shipping-number-name {
		margin-top: 1em;
	}
}

#MYP0008D02 tr.cart-input-ship-posi > td {
	font-weight: normal;
}

.cart-1col-inner .cart-mlm-mail th,
.cart-1col-inner .cart-mlm-mail td {
	line-height: 36px;
}

#CBY0003D03 .cart-1col-btn .btn,
#CBY0010D01 .cart-1col-btn .btn,
#CBY0010D02 .cart-1col-btn .btn,
#CBY0010D03 .cart-1col-btn .btn,
#CBY0010D05 .cart-1col-btn .btn,
#CBY0011D01 .cart-1col-btn .btn,
#CBY0011D02 .cart-1col-btn .btn,
#CBY0011D03 .cart-1col-btn .btn,
#CBY0011D05 .cart-1col-btn .btn {
	width: auto;
	padding: 0 60px;
	margin-right: 0;
}

#CBY0003D03 .cart-1col-btn .btn-back,
#CBY0005D01 .cart-1col-btn .btn-back,
#MLM0001D02 .cart-1col-btn .btn-back,
#MEM0001D03 .cart-1col-btn .btn-back {
	width: auto;
	padding: 0 60px;
	margin-right: 0;
}
#MEM0001D02 .cart-1col-btn .btn:last-child {
	width: auto;
	padding: 0 60px;
}
@media only screen and (max-width: 600px) {
	#MEM0001D02 .cart-1col-btn .btn,
	#MEM0001D02 .cart-1col-btn .btn:last-child {
		width: calc(100% - 16px);
	}
}

.taxmarks span:first-child {
	margin-right: 10px;
}

#MYP0008D02 table + .taxmarks {
	margin-bottom: 15px;
	text-align: left;
}

.cart-mypage-history-list .order-sts-hide li span:first-child {
	width: 150px;
}

.cart-mypage-history-list .order-sts-hide li span:nth-child(2) {
	width: 110px;
	text-align: center;
	word-break: normal;
}

.cart-mypage-history-list .order-sts-hide li span:nth-child(3) {
	width: 320px;
	text-align: left;
}

.cart-mypage-history-list .order-sts-hide li span:nth-child(4) {
	width: 130px;
}
.cart-mypage-history-list .order-sts-hide li span:last-child {
	width: 90px;
	text-align: right;
}

.cart-item-list .cart-mypage-history-order-detail li > span:first-child {
	padding-left: 5px;
}
.cart-item-list .cart-mypage-history-order-detail li > span:first-child span {
	font-weight: normal;
	display: inline-block;
	width: auto;
	font-size: 80%;
}

.cart-item-list .cart-mypage-history-order-detail li > span:last-child {
	width: 100px;
}

.cart-input-ship .cart-input-ship-center input[type=tel] {
	display: inline-block;
	width: 120px;
	text-align: left;
}
.cart-input-ship-center td span {
	margin-left: 15px;
}

.cart-input-ship-center td a::after {
	content: '';
	width: 16px;
	display: inline-block;
	text-align: right;
	font-size: 14px;
	content: "\ea7e";
	font-family: "icomoon";
}

.cart-atopay-sms-msg {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 40px;
}
.cart-atopay-sms-form {
	width: auto;
	margin: auto;
}

.cart-1col-inner .cart-atopay-sms-form {
	display: table;
	margin-bottom: 20px;
}

.cart-1col-inner .cart-atopay-sms-form tbody {
	display: table-row-group;
}

.cart-1col-inner .cart-atopay-sms-form tr {
	display: table-row;
}

.cart-1col-inner .cart-atopay-sms-form th,
.cart-1col-inner .cart-atopay-sms-form td {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	padding: 0;
}

.cart-1col-inner .cart-atopay-sms-form th {
	text-align: right;
}

.cart-atopay-sms-code input[type=tel] {
	font-size: 24px;
	width: calc(4em + 40px);
	letter-spacing: 10px;
	padding:0px 10px 0px 20px;
}

#CBY0006D01 .cart-1col-btn .btn {
	width: calc(100% - 20px);
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 0;
}

#CBY0006D01 .cart-1col-btn .btn-confirm {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}

.cart-input-ship-shipment div span {
	margin-left: 15px;
}

.cart-input-ship-shipment div a::after {
	content: '';
	width: 16px;
	display: inline-block;
	text-align: right;
	font-size: 14px;
	content: "\ea7e";
	font-family: "icomoon";
}

td,div {
	word-wrap: break-word;
}
.cart-item-list table td {
	max-width: 500px;
}
.cart-product-txt {
	max-width: 600px;
}

@media only screen and (max-width: 1023px) {
	.cart-item-list table td {
		max-width: 400px;
	}
	.cart-product-txt {
		max-width: 500px;
	}
}
@media only screen and (max-width: 939px) {
	.cart-item-list table td {
		max-width: 300px;
	}
	.cart-product-txt {
		max-width: 400px;
	}
}
@media only screen and (max-width: 859px) {
	.cart-item-list table td {
		max-width: 500px;
	}
	.cart-product-txt {
		max-width: 700px;
	}
}
@media only screen and (max-width: 799px) {
	.cart-product-txt {
		max-width: 600px;
	}
}
@media only screen and (max-width: 679px) {
	.cart-item-list table td {
		max-width: 400px;
	}
	.cart-product-txt {
		max-width: 500px;
	}
}
@media only screen and (max-width: 599px) {
	.cart-item-list table td {
		max-width: 200px;
	}
}
.cart-item-list table td.cart-mypage-history-order-detail {
	max-width: 100%;
}
.cart-input-pay-txt {
	margin-bottom: 15px;
}

#CBY0006D01 .cart-1col-btn .btn-back {
	padding: 0px;
}

#CBY0006D01 .cart-1col-btn .btn span::before {
	content: '';
	background: none;
}

.cart-member-mail-msg {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* マイページ納品書ダウンロードボタン  */

.cart-item-list-invoice * {
	float: right;
	clear: both;
}

.cart-item-list-invoice .btn.btn-invoicepdf {
	width: auto;
	padding: 0 40px 0 50px;
}

.cart-item-list-invoice .btn.btn-invoicepdf span:before {
	position: absolute;
	top: 50%;
	right: 20px;
	display: block;
	width: 10px;
	height: 18px;
	margin-top: -9px;
	content: '';
	background-image: url(https://cart.raku-uru.jp/assets/img/icn-arrow-btn.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.cart-item-list-invoice::after {
	content: " ";
	clear: both;
	display: table;
}

.cart-input-user .cart-input-addr-to-zip input[type=text],
.cart-input-ship .cart-input-addr-to-zip input[type=text] {
	width: calc(100% - 100px);
}

.cart-input-addr-to-zip a {
	font-size: 16px;
	display: inline-block;
	padding: 8px 5px;
	text-decoration: none;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 1px;
	background: #fcfcfc;
	float: right;
	height: 36px;
	width: 95px;
}

.cart-input-ship-invoice-name {
	display: inline-block;
}

.cart-input-ship-invoice-name + .cart-input-ship-invoice-name::before {
	content:"/";
	margin-right: 3px;
	margin-left: 3px;
}

.cart-input-ship-invoice-vali {
	margin-left: 5px;
	color: #aaa;
}

.cart-input-ship-invoice-no {
	display: inline-block;
	margin-left: 10px;
}

.cart-input-ship-invoice-no::before {
	content:"(";
	margin-right: 3px;
}

.cart-input-ship-invoice-no::after {
	content:")";
	margin-left: 3px;
}

.cart-input-user .cart-input-shopmsg td {
	margin-bottom: 0;
	padding-bottom: 2em;
}

.cart-input-name .cart-input-regulation,
.cart-input-kana .cart-input-regulation {
	font-size: 12px;
	display: block;
	color: #b0b0b0;
    width: 200px;
    margin-left: calc(2rem + 8px);
}

@media only screen and (max-width: 1109px) {
    .cart-input-name .cart-input-regulation,
    .cart-input-kana .cart-input-regulation {
        display: inline-block;
        width: calc( 100% - 45px);
    }
}

.cart-input-company .cart-input-regulation,
.cart-input-depart .cart-input-regulation,
.cart-input-zipcode .cart-input-regulation,
.cart-input-pref .cart-input-regulation,
.cart-input-city .cart-input-regulation,
.cart-input-street .cart-input-regulation,
.cart-input-bld .cart-input-regulation,
.cart-input-mail .cart-input-regulation,
.cart-input-tel .cart-input-regulation,
.cart-input-mobile .cart-input-regulation,
.cart-input-fax .cart-input-regulation,
.cart-input-sex .cart-input-regulation,
.cart-input-birthday .cart-input-regulation,
.cart-input-free1 .cart-input-regulation,
.cart-input-free2 .cart-input-regulation,
.cart-input-free3 .cart-input-regulation,
.cart-input-free .cart-input-regulation {
	font-size: 12px;
	display: block;
	color: #b0b0b0;
}

.cart-action-sum-memrank th {
	line-height: 1.2 !important;
}

.cart-input-ask-captcha-img {
	display: flex;
	align-items: flex-end;
}

.cart-input-ask-captcha-img a {
    display: inline-block;
    height: 36px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
}

.cart-input-ask-captcha-img a:hover {
	color: #fff;
}

#CBY0010D01 .cart-1col-inner h4,
#CBY0010D02 .cart-1col-inner h4,
#CBY0010D03 .cart-1col-inner h4,
#CBY0010D05 .cart-1col-inner h4,
#CBY0011D01 .cart-1col-inner h4,
#CBY0011D02 .cart-1col-inner h4,
#CBY0011D03 .cart-1col-inner h4,
#CBY0011D05 .cart-1col-inner h4 {
	text-align: center;
}

.cart-comp-id-txt,
.cart-comp-carriar-txt {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 25px;
}

.cart-comp-id-err-txt,
.cart-comp-carriar-err-txt {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 25px;
}

.cart-input-pay .cart-input-pay-id td {
	padding: 0 0 12px 0;
}

.cart-mypage-history-cnt span {
	margin-right: 20px;
}

.cart-mypage-history-cnt-bottom {
	margin-top: 20px;
}

.cart-mypage-history-cnt-bottom span {
	margin-right: 20px;
}

.cart-mypage-history-btn-next {
	float: right;
	font-size: 15px;
	text-align: center;
}

.cart-mypage-history-btn-prev {
	float: left;
	font-size: 15px;
	text-align: center;
}

.cart-mypage-history-btn-prev .btn,
.cart-mypage-history-btn-next .btn {
	width: 22px;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	color: #fff;
}

.non-disp {
	display: none;
}

.cart-mypage-delivery-schedule a {
	text-decoration: none;
	display: inline-block;
	width: 40px;
}

.cart-mypage-delivery-schedule li {
	display: table;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	border-collapse: collapse;
	border-bottom: 1px solid #d9d9d9;
}

.cart-mypage-delivery-schedule li span {
	display: table-cell;
	padding: 5px;
	word-break: break-all;
}

.cart-mypage-delivery-schedule li:first-child span {
	color: #999;
}

.cart-mypage-delivery-schedule {
	float: left;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: #d0d0d0 solid 1px;
}

.cart-mypage-subscription-list h4,
.cart-mypage-delivery-schedule h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 28px;
  padding-bottom: 18px;
  border-bottom: #d0d0d0 solid 1px;
}

.cart-mypage-delivery-schedule li span:last-child {
	width: 50px;
}

.cart-mypage-delivery-schedule li span:first-child {
	width: 120px;
}
.cart-mypage-delivery-schedule li span:nth-child(2) {
	width: 150px;
}
.cart-mypage-delivery-schedule li span:nth-child(3) {
	width: 150px;
}
.cart-mypage-subscription-list li span:nth-child(4) {
	width: 150px;
}

#CBY0003D01 .datecycle-label {
	min-width:50px;
}

#CBY0003D01 .cart-action-sum .cart-action-subscription-first-label td {
	font-weight: bold;
	text-align: left;
}

#CBY0003D02 .cart-item-list .h4{
	argin-bottom: 28px;
	padding-bottom: 18px;
	border-bottom: #d0d0d0 solid 1px;
}

#CBY0003D02 .cart-item-list .h4 span{
	font-size: 20px;
	font-weight: bold;
}

#CBY0003D02 .cart-item-list .h4 a{
	float: right;
}

#CBY0003D02 .cart-action-subscription-checkbox {
	margin-bottom: 20px;
}

#CBY0003D02 .cart-action-subscription-first-label td {
	font-weight: bold;
	text-align: left;
}

#CBY0003D02 .cart-action-subscription-second-label td,
#CBY0003D02 .cart-action-subscription-total-label td {
	font-weight: bold;
	text-align: left;
	font-size: 16px;
}

.cart-check-subscription {
	margin-top: 28px;
	float: left;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: #d0d0d0 solid 1px;
}

.cart-check-subscription h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 28px;
  padding-bottom: 18px;
  border-bottom: #d0d0d0 solid 1px;
}

.cart-check-subscription table {
  width: 100%;
  margin-bottom: 15px;
}

.cart-check-subscription th {
  font-size: 16px;
  font-weight: normal;
  width: 194px;
  padding: 12px 12px 12px 0;
  text-align: left;
  vertical-align: top;
}

.cart-check-subscription td {
  font-size: 14px;
  font-weight: normal;
  padding: 12px 0;
  text-align: left;
  vertical-align: top;
}


.jq-tooltip {
	width: auto;
	height: auto;
	display: inline;
}

.tooltipwin {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	padding: 18px 24px;
	opacity: 0;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	display: none;
}
.tooltipwin-content {
	line-height: 1.6;
}
.tooltipwin-btn {
	background-color: #333;
	margin: auto;
	margin-top: 24px;
	width: 96px;
	display: block;
	text-align: center;
	cursor: pointer;
	opacity:.8;
}
.tooltipwin-btn::after {
	display: inline-block;
	color: #fff;
	content: "閉じる";
	font-size: 16px;
	line-height: 32px;
	text-align: center;
}

.tooltipwin-btn:hover {
	opacity:1;
}

.tooltipwindl dt {
	font-weight: bold;
}

.tooltipwindl dd {
	margin:1em;
}
.tooltipwindl dd:last-child {
	margin-bottom: 0;
}

.cart-item-list-return-item:before {
    content: '返品区分：';
}

.cart-item-list-sale-period:before {
    content: '販売期間：';
}

.cart-subscription {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 28px;
	padding-bottom: 18px;
	border-bottom: #d0d0d0 solid 1px;
}

.cart-item-list .cart-subscription {
	font-size: 20px;
	font-weight: bold;
}

/***********
 * class
 ***********/

.w800 {
    width: 800px;
}

@media only screen and (max-width: 800px) {
		.tooltipwin {
		  width: 80%;
		}
}

.cart-mypage-subscription {
	float: none;
	padding: 0;
	text-align: center;
}

.cart-mypage-subscription-list h4 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 28px;
	padding-bottom: 18px;
	border-bottom: #d0d0d0 solid 1px;
}

.cart-mypage-subscription-list {
	float: left;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: #d0d0d0 solid 1px;
}

.cart-mypage-subscription-list table {
	width: 100%;
	margin-bottom: 15px;
}

.cart-mypage-subscription-list th {
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	width: 194px;
	padding: 12px 12px 12px 0;
	text-align: left;
	vertical-align: top;
}

.cart-mypage-subscription-list td {
	font-size: 16px;
	font-weight: normal;
	padding: 12px 0;
	text-align: left;
	vertical-align: top;
}

.cart-mypage-subscription-list input[type=text] {
	line-height: 36px;
	width: 100%;
	height: 36px;
	padding: 0 10px;
	border: #d0d0d0 solid 1px;
	background-color: #f5f5f5;
}


/* マイページ定期購入 */

.cart-mypage-subscription-list li {
	display: table;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	border-collapse: collapse;
	border-bottom: 1px solid #d9d9d9;
}

.cart-mypage-subscription-list a {
	display: table-row;
	vertical-align: middle;
	text-decoration: none;
}

.cart-mypage-subscription-list li span {
	display: table-cell;
	padding: 5px;
	text-align: left;
	vertical-align: center;
	word-break: break-all;
}

.cart-mypage-subscription-list li:first-child span {
	text-align: center;
	color: #999;
}

.cart-mypage-subscription-list li span:first-child {
	width: 10%;
	min-width: 150px;
}

.cart-mypage-subscription-list li span:nth-child(2) {
}

.cart-mypage-subscription-list li span:nth-child(3) {
	width: 10%;
	min-width: 140px;
	text-align: center;
}

.cart-mypage-subscription-list li span:last-child {
	width: 15%;
	min-width: 180px;
	text-align: center;
}


@media only screen and (max-width: 600px) {
	.cart-mypage-subscription {
		width: 100%;
		margin-bottom: 20px;
		padding-top: 12px;
		padding-right: 10px;
		padding-left: 10px;
		border-top: none;
	}
	.cart-mypage-subscription-list h4 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 24px;
		padding-bottom: 14px;
		text-align: left;
	}
	.cart-mypage-subscription-list h4:before {
		font-size: 14px;
		padding-right: 8px;
		content: "■";
		color: #d2d2d2;
	}
	.cart-mypage-subscription-list {
		width: 100%;
		margin-bottom: 20px;
		padding-top: 12px;
		padding-right: 10px;
		padding-left: 10px;
		border-top: none;
	}
	/* マイページ アドレス帳 */
	.cart-mypage-subscription-list li {
		position: relative;
		margin-top: 5px;
		padding: 5px;
		border: none;
	}
	.cart-mypage-subscription-list li:first-child {
		display: none;
	}
	.cart-mypage-subscription-list li a {
		position: relative;
		display: block;
		width: 100%;
		margin: auto;
		padding: 6px 24px 6px 12px;
		text-align: left;
		text-decoration: none;
		border: 1px solid #efefef;
		border-radius: 5px;
		background-color: #f3f3f3;
	}
	.cart-mypage-subscription-list li a:after {
		position: absolute;
		top: 50%;
		right: 6px;
		display: inline-block;
		width: 9px;
		height: 18px;
		margin-top: -9px;
		content: '';
		background-image: url(https://cart.raku-uru.jp/assets/img/icn-arrow-nav.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.cart-mypage-subscription-list li span {
		display: block;
		padding: 2px 0;
	}
	.cart-mypage-subscription-list li span:first-child,
	.cart-mypage-subscription-list li span:nth-child(2),
	.cart-mypage-subscription-list li span:nth-child(3),
	.cart-mypage-subscription-list li span:nth-child(4) {
		width: auto;
		min-width: auto;
		text-align: left;
	}
	.cart-mypage-subscription-list li span:first-child p:first-child:before {
		content: '定期購入番号：';
	}

	.cart-mypage-subscription-list li span:first-child p:nth-child(2):before {
		content: '状態：';
	}

	.cart-mypage-subscription-list li span:nth-child(2):before {
		content: '配送先：';
	}
	.cart-mypage-subscription-list li span:nth-child(3) p:first-child:before {
		content: '支払い方法：';
	}
	.cart-mypage-subscription-list li span:nth-child(3) p:nth-child(2):before {
		content: '次回配送日：';
	}

	.cart-mypage-subscription-list li span:nth-child(4) p:first-child:before {
		content: '商品：';
	}
	.cart-mypage-subscription-list li span:nth-child(4) p:nth-child(2):before {
		content: '確定済み数：';
	}

	#MYP0012D02 .cart-2col-right-btn a:last-child {
		margin-top: 10px;
	}
}

.cart-mypage-history-cnt span {
	margin-right: 20px;
	text-align: center;
}

.cart-mypage-history-cnt {
	text-align: center;
}

.cart-mypage-history-cnt-bottom {
	margin-top: 20px;
	text-align: center;
}

.cart-mypage-history-cnt-bottom span {
	margin-right: 20px;
}

.cart-mypage-history-btn-next {
	float: right;
	font-size: 15px;
	text-align: center;
}

.cart-mypage-history-btn-prev {
	float: left;
	font-size: 15px;
	text-align: center;
}

.cart-mypage-history-btn-prev .btn,
.cart-mypage-history-btn-next .btn {
	width: 22px;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	color: #fff;
}

.cart-card-register {
		margin-top: 30px
}

.cart-card-register-btn {
	font-size: 16px;
	line-height: 40px;
	display: inline-block;
	width: 300px;
	height: 40px;
	padding: 0 12px;
	text-align: center;
	text-decoration: none;
	border: none;
	color: #fff;
	background-color: #666;
}

.cart-card-register-btn span {
	color: #fff;
}

.non-disp {
	display: none;
}

.cart-freeship > div {
	color: black;
}

/* Wish List表示  */
.cart-mypage-wishlist-list ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cart-mypage-wishlist-list ul li {
	width: calc(25% - 20px);
	overflow: nonoe;
	margin: 10px;
}

.cart-mypage-wishlist-list ul li span {
	display: block;
}

.cart-mypage-wishlist-list ul li span > span {
	display: inline;
}

.wishlist-itemimg a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;

}

.wishlist-itemimg img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.wishlist-itemname {
	margin-top: 10px;
	text-align: center;
}

.wishlist-itemprice {
	text-align: right;
	font-weight: bold;
}

.wishlist-itemprice-tax {
	font-size: 12px;
}

.wishlist-adddate {
	margin-top: 5px;
	text-align: center;
}

.wishlist-removeitem {
}

.wishlist-removeitem a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #666;
	border: none;
}

.wishlist-removeitem a:visited {
	color: #fff;
}

.wishlist-removeitem a:hover {
	color: #fff;
}

@media only screen and (max-width: 600px) {

	.cart-mypage-wishlist-list ul li {
		width: calc(50% - 20px);
		margin-top: 20px;
	}
	.wishlist-itemname {
		margin-top: 5px;
	}

	.wishlist-adddate {
		margin-top: 0;
	}
}

/* 入荷通知メール  */
.cart-arrivalmail-item-photo img {
	max-width: 100%;
}

.cart-arrivalmail-reject {
	text-align-last: left;
	margin-bottom: 1.5rem;
}

.cart-arrivalmail-msg1 {
	text-align-last: left;
	margin-bottom: 1.5rem;
}

.cart-arrivalmail-check .cart-input-require::after {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    content: '＊必須';
    color: #ff3d3d;
    line-height: 14px;
}
